---
# Stylesheet
---

$orange: #f60;

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  margin: 2em;
  color: #333;
}

.header, .content, .footer {
  margin: 0 auto;
  width: 90%;
  max-width: 50em;
}

.header {
  h1 {
    color: $orange;
    margin: 0;
  }
  small {
    color: #999;
  }
}

.content {
  font-weight: 200;
  line-height: 1.4em;

  h2 {
    font-weight: 200;
    color: #999;
    font-size: 3em;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0.2em;
  }
  .post-title {
    margin-bottom: 2em;
    small {
      color: #ccc;
    }
  }
  img {
    width: 100%;
    max-width: 50em;
  }
}

.footer {
  margin-top: 3em;
}

pre code {
  font-family: "SF Mono", "Consolas", "Menlo", monospace;
  font-size: 0.8em;
  display: block;
  overflow: scroll;
  padding: 1em;
  background-color: #eee;
}

a {
  color: $orange;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: $orange;
}

ul {
  list-style-type: square;
}