---
layout: post
---

Esta es la transcripción de una charla que di en <i>{{page.where}}</i>, basada en mis notas para la presentación. Si estuviste allí verás que no coincide exactamente con lo que dije, pero es <i>lo que pretendía haber contado</i>.

<hr/>

{{content}}

<hr/>

<div class="related">
  <h5>Otras charlas de este señor…</h5>
  <ul>
    <li><a href="/talks/2016-11-30-bbva/">La fábrica de martillos</a>, 2016. Centro de Innovación BBVA.</li>
    <li><a href="/talks/2015-06-05-uxspain/">Design Hacking</a>, 2015. UX Spain, Salamanca.</li>
  </ul>
</div>